@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
    --font-handjet: 'Handjet', cursive;
    --color-purple: #4D089A;
    --color-blue: #323EDD;
    --color-pink: #DC2ADE;
    --color-yellow: #E8F044;
}

@layer components {
  .scrollable-hidden {
    overflow-x: auto;
    scroll-behavior: smooth;
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  
  .scrollable-hidden::-webkit-scrollbar {
    display: none;
  }
}

:root {
    font-size: 20px;
}

